<h2>Choose your post to view:</h2>
<ul>
	<% @posts.each do |post| %>
		<li><%= link_to post.title, "/posts/#{post.id}" %> - <i>created by</i> <%= link_to post.user.name, "/users/#{post.user.id}" %></li>
	<% end %>
</ul>
<br>
<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
<br>
<h5>Click <a href="/users">here</a> to see all users.</h5>
