<ul class="nav">
	<li>
	<%= link_to "Home", root_path, class: "btn" %>
	</li>
    <li>
    <%= link_to "New Post", new_post_path, class: "btn" %>
    </li>
    <li>
    <%= link_to 'View Site Users', users_path , class: "btn" %>
    </li>
</ul>
